<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculate Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'App/css/index.css' %}">
</head>
<body>
    <div class="wrap">
        <form action={% url 'calculate' %} method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="links">
        <a href="/result">Operations history</a>
    </div>

</body>
</html>