@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
body{
    background: #D0C3BD;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
table {
   border: 1px solid grey;
    width: 600px;
    color: #534F4C;
}

th {
   border: 1px solid grey;
}

td {
   border: 1px solid grey;
    width: 220px;
}
.result{
    max-width: 700px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.links{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.links a{
    color: #E8E8EA;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #E8E8EA;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
}

.links a:hover{
    color: white;
    border: 2px solid white;
    font-weight: 600;
}

.secret{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.secret a{
    color: #F7F8F2;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #F7F8F2;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
}